.bordel {
    text-align: center;
    background: url(https://d14zpui1wqy4zl.cloudfront.net/production/illustrations/1391/medium/Reed981.jpg?1370505923) no-repeat;
    border: 5px black dotted;
    background-size: cover;

}

.jumbotron {
    padding-bottom: 27%;
    margin-top: 10%;
    overflow: hidden;
}


.btnColor {
    background-color: #93A3B7;
    border: #93A3B7;
    text-align: center;
}

.bodyBackground {
    
    background: url(https://i.ebayimg.com/thumbs/images/g/RmwAAOSwB4BaHBn6/s-l225.jpg);
} 

p {
    font-size: 376%;
}

.btnTir {
    position: relative;
}

.bodyBackground2 {
    background: url(http://www.portail-ffpjp.fr/wp-content/uploads/2017/12/petanque-apero-768x576.jpg)
}